@{
    ViewData["Title"] = "Create Product";
    Layout = "_Layout";
}
<body>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Create Product</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Edit Product</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Product Detail</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form" asp-controller="Product" asp-action="SaveProduct" enctype="multipart/form-data" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="txtProductName">Product Name</label>
                                        <input type="text" class="form-control" id="txtProductName" name="Name" placeholder="Product name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtPrice">Price</label>
                                        <input type="text" class="form-control" id="txtPrice" name="Price" placeholder="Price" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtPrice">Description</label>
                                        <textarea rows="5" type="text" class="form-control" id="txtDescription" name="Description" placeholder="Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">Image File</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="txtImageFile" name="ImageFile">
                                                <label class="custom-file-label" for="ImageFile">Choose file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <vc:select-brand-list></vc:select-brand-list>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="cbHot" name="IsHot2">
                                        <label class="form-check-label" for="cbHot">Hot</label>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body>